<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dengzii.ktx.android">

    <application>
        <provider
            android:name="com.dengzii.ktx.KtxInitFileProvider"
            android:authorities="${applicationId}.ktx.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ktx_provider_path" />
        </provider>
    </application>
</manifest>